body {
    background-color: black;
}

.topo {
    width: 200px;
    background-color: #f9f9f9;
    border-radius: 15px;
    box-shadow: 0 4px 12px white;
    overflow: hidden;
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 20px auto;

}

/*imagem de perfil */
.perfil { 
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/*texto topo*/
.paragrafo-topo {
    padding: 15px;
}

.paragrafo-topo h1 {
    margin: 10px 0 5px;
    font-size: 22px;
    color: black;
}

.paragrafo-topo p {
    margin: 4px 0;
    font-size: 16px;
}

/*Inicio seção sobre mim*/
.secao-sobremim {
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    width: 80%;
    margin: 30px auto;
    box-shadow: 0 0 15px white;
    font-family: Arial, sans-serif;
    color: #333;
}

.secao-sobremim h2 {
    text-align: center;
    color: #b30000;
}

.secao-sobremim span {
    font-weight: bold;
    color: black;
}

.secao-sobremim ul {
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
    text-align: center;
}

.secao-sobremim li {
    margin: 5px 0;
}

.secao-sobremim a {
    text-decoration: none;
    color: #b30000;
    font-weight: bold;
    transition: color 0.3s;
    }

.secao-sobremim a:hover {
    color: #ff3333;
}

/*Incio seção hobbies*/

.hobbies {
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    width: 80%;
    margin: 30px auto;
    box-shadow: 0 0 15px white;
    font-family: Arial, sans-serif;
    color: black;
}

.hobbies h2 {
    text-align: center;
    color: #b30000;
}

.hobbies span {
    font-weight: bold;
    color: black;
}

.hobbies ul {
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
}

.hobbies li {
    margin: 8px 0;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.hobbies i {
    color: #b30000;
    min-width: 20px;
}

/*inicio seção motivação*/

.motivacao {
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    width: 80%;
    margin: 30px auto;
    box-shadow: 0 0 15px white;
    font-family: Arial, sans-serif;
    color: black;
    text-align: center;
}

.motivacao h2 {
    color: #b30000;
    margin-bottom: 10px;
}

.motivacao h3 {
    font-style: italic;
    font-weight: normal;
    color: black;
    margin: 15px 0;
}

.motivacao span {
    font-weight: bold;
    color: black;
}